<% @profiles.each do |profile| %>
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h4 class="card-title"><%= profile.name %></h4>
    <p class="card-text"><%= profile.description %></p>
    <div class="btn btn-outline-secondary">
    <%= link_to "See Profile", profile_path(:id) %>
    </div>
  </div>
</div>
  <% end %>
<br>
