/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap";

* {
 box-sizing: border-box;
 // border: 1px black solid;
}


body{
    padding-top: 40px;
    padding-bottom: 60px;
}

font {
    font-family: 'Roboto Condensed', sans-serif;
    color: #533A71;
}

.container {
    margin-top: 60px;
}

// sign up form
.center {
  text-align: center;
  margin-top: 150px;
}
// styling for sign in and sign up
.sign-in-center {
    text-align: center;
}

.form-sign-in {
    margin-top: 60px;
}

.profile-center {
    text-align: center;
    margin-top: 150px;
}

#profile_form {
  border-color: deepskyblue;

}

#hackathon_form {
  border-color: deepskyblue;
}

#hackathon_date_end_1i, #hackathon_date_end_2i, #hackathon_date_end_3i, #hackathon_date_end_4i, #hackathon_date_end_5i {
  border-color: deepskyblue;
}

#team_name {
  border-color: deepskyblue;
}

.logo {
  display: block;
  margin: auto;
  height: 200px;
}

// styling fonts

h1 {
  font-size: 1.5rem;
  color: #533A71;
}
h3 {
  font-size: 1rem;
}

h4.profession-title {
    margin-left: 20px;
    color: #533A71;
}

// this is for the devise edit/back links on profile page
a {
    color: #533A71;
}
// styling images

img.icon {
  height: 30px;
}

img.profile {
  display: block;
  margin: 0 auto;
  border:1px;
  border-color: #533A71;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: -10px;
}

img.hackathon-img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 40px;
}

img.logo_small {
  width: 80px;
}

// styling cards

.card {
  margin-bottom: 30px;
}


.card-profile {
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 40px;
    // border: 1px solid;
    // border-color: #533A71;
}

.card-hackathon {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 40px;
  border: 1px solid;
  border-color: #533A71;
  border-radius: 5px;
  width: 30rem;
}


.navbar {
  background-color: #9CEC5B;
}

#top-nav {
  background: #9CEC5B;
}

.span.navbar.toggler-icon {
  color: #533A71;
}


ul {
  padding-left: 0px;
  list-style: none;
}

// styling for messages

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
    position: relative;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    margin: 5px 20px;
    padding: 10px;
    float: right;
}


.message-received {
    background-color: #F1F0F0;
    border-color: #EEEEEE;
    margin: 5px 20px;
    padding: 10px;
    float: left;
}

// styling buttons
button:focus { outline: none; }

.btn-secondary {
    color: #F0F465;
    background-color: #9CEC5B;
    border-color: #F0F465;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    border-radius: 10px;
}

.btn-outline-secondary {
    background-color: #F0F465;
    border-color: #F0F465;
    display: block;
    margin: 0 auto;
    color: #533A71;
    width: 200px;
}

.btn-secondary:hover {
    color: #533A71;
    background-color: #533A71;
}

.btn outline-secondary-profile {
    background-color: #533A71;
}

button.btn.profile {
    margin-top: 80px;
    width: 200px;
    background-color: #F0F465;
    border-color: deepskyblue;
}


button.btn.profile-team {
    margin-top: 250px;
    width: 200px;
    background-color: #F0F465;
    border-color: deepskyblue;
}

#formItem label {
    text-align:center;
    line-height:150%;
    font-size:.85em;
}
